<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <!-- App log folder to store log files -->
    <property name="LOG_PATH" value="./logs"/>

    <!-- Log pattern with MDC requestId -->
    <property name="PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] %logger{36} - %msg%n"/>

    <!-- ============================= -->
    <!-- Console Appender -->
    <!-- ============================= -->
     
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ============================= -->
    <!-- Rolling File Appender -->
    <!-- ============================= -->
    <appender name="SERVICE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rotation + compression -->
            <fileNamePattern>${LOG_PATH}/application-%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- Keep 30 days -->
            <maxHistory>30</maxHistory>

            <!-- Hard cap -->
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ============================= -->
    <!-- Async Layer for Performance -->
    <!-- ============================= -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <!-- ============================= -->
    <!-- Root Log Definition -->
    <!-- ============================= -->
    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>

</configuration>
